Repository approvers/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "./**/*.{js,ts,jsx,tsx}": "eslint --fix",
  "./**/*.{css,scss}": "stylelint --fix",
  "./**/*.{js,ts,jsx,tsx,css,scss}": "prettier --write"
}

chore: Refactor linter and formatter (#274)
  .eslintrc
  .lintstagedrc
  .stylelintrc
  package.json
  src/scss/pages/index.module.scss
  yarn.lock
Due: stylelint --fix, prettier --write

style: Add new line
  .lintstagedrc
Due: none

style: Add new line (#275)
  .lintstagedrc
Due: none

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

fix: Update copyright year
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/footer.tsx
Due: eslint --fix, prettier --write

fix: Improve with yearContext
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/footer.tsx
  src/lib/year-context.ts
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

fix: 著作表記年の更新 (#277)
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/footer.tsx
  src/lib/year-context.ts
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

build(deps): bump also related packages
  package.json
  yarn.lock
Due: none

build(deps): bump related dependencies
  package.json
  yarn.lock
Due: none

Bump vite
  package.json
  yarn.lock
Due: none

Append legacyBehavior
  src/components/__snapshots__/date.test.tsx.snap
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/navigation.test.tsx.snap
  src/components/__snapshots__/prev-next-link.test.tsx.snap
  src/components/__snapshots__/questions.test.tsx.snap
  src/components/__snapshots__/sns-link.test.tsx.snap
  src/components/__snapshots__/title.test.tsx.snap
  src/components/footer.tsx
  src/components/header.tsx
  src/components/prev-next-link.tsx
Due: eslint --fix, prettier --write

feat: Replace members source with members-db
  src/lib/member-fetch.ts
  src/pages/member.tsx
Due: eslint --fix, prettier --write

build(deps-dev): Fix with bump vitest
  package.json
  yarn.lock
Due: none

feat: Change triangle into カス
  src/pages/index.tsx
  src/scss/pages/index.module.scss
Due: eslint --fix, stylelint --fix, prettier --write

Adjust color
  src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: Change triangle into カス (#321)
  src/pages/index.tsx
  src/scss/pages/index.module.scss
Due: eslint --fix, stylelint --fix, prettier --write

build(deps): Bump family packages
  package.json
  yarn.lock
Due: none

Update lock file reference
  yarn.lock
Due: none

fix: Remove needless anchor element from next/link
  src/pages/blog.tsx
Due: eslint --fix, prettier --write

Fix lock file
  yarn.lock
Due: none

Update linter
  .eslintrc
  package.json
Due: none

fix: Remove needless anchor and Fix build scripts (#350)
  .eslintrc
  package.json
  src/pages/blog.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Bump yarn version
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Update type validation
  src/lib/member-fetch.ts
Due: eslint --fix, prettier --write

Support new format
  src/components/sns-link.tsx
  src/pages/member.tsx
Due: eslint --fix, prettier --write

Fix validation bug
  src/lib/member-fetch.ts
Due: eslint --fix, prettier --write

Sort with type
  src/pages/member.tsx
Due: eslint --fix, prettier --write

Update sdk
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
Due: eslint --fix, prettier --write

Use discordId as key
  src/lib/member-fetch.ts
  src/pages/member.tsx
Due: eslint --fix, prettier --write

fix: Fix to animate with stroke-dasharray
  src/scss/pages/index.module.scss
Due: stylelint --fix, prettier --write

Update tsconfig
  tsconfig.json
Due: none

Configure export
  .github/workflows/ci.yml
  next.config.js
  package.json
Due: eslint --fix, prettier --write

Fix lint config
  .eslintrc
  .eslintrc.js
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Move generateStaticParams
  src/app/blog/[id]/page.tsx
  src/app/blog/page.tsx
Due: eslint --fix, prettier --write

Fix to return correct data
  src/app/blog/[id]/page.tsx
  src/app/blog/page.tsx
  src/app/lib/blog-fetch.ts
Due: eslint --fix, prettier --write

Add missing peer dependencies
  package.json
  yarn.lock
Due: none

Remove unused function
  src/app/components/google-analytics.tsx
Due: eslint --fix, prettier --write

Remove wrong peer
  package.json
  yarn.lock
Due: none

fix: Fix to animate with stroke-dasharray (#352)
  src/scss/pages/index.module.scss
Due: stylelint --fix, prettier --write
