Repository approvers/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix ., stylelint --fix, prettier --write

.lintstagedrc:

{
  "./**/*.{js,ts,jsx,tsx}": "eslint --fix .",
  "./**/*.{css,scss}": "stylelint --fix",
  "./**/*.{js,ts,jsx,tsx,css,scss}": "prettier --write"
}

Migrate 404 page
  src/components/title.tsx
  src/pages/404.astro
  src/pages/404.tsx
Due: eslint --fix ., prettier --write

Migrate members page
  src/components/layout.astro
  src/components/member-card.tsx
  src/components/sns-link.tsx
  src/components/ui/item.tsx
  src/content.config.ts
  src/lib/member-fetch.ts
  src/pages/member.astro
  src/pages/member.tsx
Due: eslint --fix ., prettier --write

Migrate blog page
  src/components/blog-card.tsx
  src/components/date.tsx
  src/content.config.ts
  src/pages/blog.astro
  src/pages/blog.tsx
Due: eslint --fix ., prettier --write

Migrate blog view page
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/components/prev-next-link.tsx
  src/content.config.ts
  src/lib/blog-fetch.ts
  src/pages/blog/[slug].astro
  src/pages/index.astro
  src/scss/pages/blog/markdown.module.css
  src/scss/pages/blog/markdown.module.scss
  src/scss/pages/index.module.css
  src/templates/blog-post.tsx
  tsconfig.json
Due: eslint --fix ., stylelint --fix, prettier --write

Add text-autospace: normal
  src/pages/blog/[slug].astro
  src/pages/index.astro
  src/scss/global.scss
  src/styles/global.css
  src/styles/pages/blog/markdown.module.css
  src/styles/pages/index.module.css
Due: stylelint --fix, prettier --write

Append icon for ExternalLink
  src/components/link.tsx
  src/components/questions.tsx
  src/pages/link.astro
  src/pages/policy.astro
Due: eslint --fix ., prettier --write

Add .node-version
  .node-version
Due: none

Fix to use import type
  src/lib/blog/file.ts
Due: eslint --fix ., prettier --write

Fix markdown style
  src/styles/pages/blog/markdown.module.css
Due: stylelint --fix, prettier --write

Remove inline-block
  src/components/link.tsx
Due: eslint --fix ., prettier --write

Fix member icon
  src/pages/member.astro
Due: none

Update README.md
  README.md
Due: none

Remove unused files
  postcss.config.json
  src/@types/gatsby-import.d.ts
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/ui/input.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.ts
  src/lib/theme.ts
  src/pages/blog.astro
Due: eslint --fix ., prettier --write

Fix type errors
  src/@types/module-css.d.ts
  src/components/sns-link.test.tsx
  src/utils/react-test.tsx
Due: eslint --fix ., prettier --write

Update codeowner
  .github/CODEOWNERS
Due: none

Fix test config
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix ., prettier --write

お片付け (#494)
  .github/CODEOWNERS
  package.json
  pnpm-lock.yaml
  postcss.config.json
  src/@types/gatsby-import.d.ts
  src/@types/module-css.d.ts
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/sns-link.test.tsx
  src/components/ui/input.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.ts
  src/lib/theme.ts
  src/pages/blog.astro
  src/utils/react-test.tsx
  vite.config.ts
Due: eslint --fix ., prettier --write

Add more metas
  src/components/layout.astro
Due: none

Add more metas (#495)
  src/components/layout.astro
Due: none

Fix renovate manager from bun to npm
  renovate.json
Due: none

Specify merge_group
  .github/workflows/ci.yml
Due: none

Fix stylelint error
  src/styles/pages/index.module.css
Due: stylelint --fix, prettier --write

Authorize github API with GITHUB_TOKEN
  .github/workflows/ci.yml
  src/lib/blog/github.ts
Due: eslint --fix ., prettier --write

ci: Authorize github API with GITHUB_TOKEN (#523)
  .github/workflows/ci.yml
  src/lib/blog/github.ts
Due: eslint --fix ., prettier --write

Add setup-node to install exact Node.js
  .github/workflows/ci.yml
Due: none

ci: Add setup-node to install exact Node.js (#617)
  .github/workflows/ci.yml
Due: none

Specify node-version-file
  .github/workflows/ci.yml
Due: none

ci: Specify node-version-file (#618)
  .github/workflows/ci.yml
Due: none

Allow builds
  pnpm-workspace.yaml
Due: none

Goodbye BinTray
  data/links.yaml
Due: none

fix: Remove the BinTray link (#711)
  data/links.yaml
Due: none

Remove astro-eslint-parser
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Remove astro-eslint-parser (#782)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none
