Repository approvers/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

ci: Remove CI section from CODEOWNERS
  .github/CODEOWNERS
Due: none

ci: Remove CI section from CODEOWNERS (#476)
  .github/CODEOWNERS
Due: none

Revert "chore(deps): update dependency eslint to v9 (#415)"
  .eslintrc.js
  bun.lock
  bun.lockb
  eslint.config.mjs
  package.json
  src/components/date.test.tsx
  src/components/footer.test.tsx
  src/components/header.test.tsx
  src/components/navigation.test.tsx
  src/components/prev-next-link.test.tsx
  src/components/questions.test.tsx
  src/components/sns-link.test.tsx
  src/components/title.test.tsx
Due: eslint --fix, prettier --write

revert: Revert "chore(deps): update dependency eslint to v9 (#415)" (#445)
  .eslintrc.js
  bun.lock
  bun.lockb
  eslint.config.mjs
  package.json
  src/components/date.test.tsx
  src/components/footer.test.tsx
  src/components/header.test.tsx
  src/components/navigation.test.tsx
  src/components/prev-next-link.test.tsx
  src/components/questions.test.tsx
  src/components/sns-link.test.tsx
  src/components/title.test.tsx
Due: eslint --fix, prettier --write

doc: Replace Next.js with Gatsby.js in README (#442)
  README.md
Due: none

fix: Fix to ignore gatsby build dir (#443)
  .gitignore
  assets/alternative.png
  assets/android-chrome-192x192.png
  assets/android-chrome-512x512.png
  assets/apple-touch-icon.png
  assets/browserconfig.xml
  assets/favicon-16x16.png
  assets/favicon-32x32.png
  assets/favicon.ico
  assets/mstile-150x150.png
  assets/safari-pinned-tab.svg
  assets/site.webmanifest
  gatsby-config.ts
  public/icons/icon-144x144.png
  public/icons/icon-192x192.png
  public/icons/icon-256x256.png
  public/icons/icon-384x384.png
  public/icons/icon-48x48.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/manifest.webmanifest
Due: eslint --fix, prettier --write

chore(deps): Remove eslint-config-next
  package.json
Due: none

Refresh lockfile
  bun.lock
Due: none

chore(deps): Remove eslint-config-next (#447)
  bun.lock
  package.json
Due: none

Migrate package manager into pnpm
  bun.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update CI runtime
  .github/workflows/ci.yml
Due: none

Fix matrix
  .github/workflows/ci.yml
Due: none

chore: Migrate package manager into pnpm (#477)
  .github/workflows/ci.yml
  bun.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Migrate dependencies
  gatsby-config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

Migrate base utils
  src/lib/theme.ts
  src/utils/color-mode.tsx
Due: eslint --fix, prettier --write

Migrate components
  src/components/header.tsx
  src/components/navigation.tsx
  src/components/providers.tsx
  src/pages/blog.tsx
  src/pages/link.tsx
  src/pages/member.tsx
  src/pages/policy.tsx
Due: eslint --fix, prettier --write

Fix ThemeChangeButton
  src/components/navigation.tsx
  src/utils/color-mode.tsx
Due: eslint --fix, prettier --write

Add Link to bring back external links
  src/components/link.tsx
  src/components/questions.tsx
  src/components/sns-link.tsx
  src/lib/theme.ts
  src/pages/link.tsx
  src/pages/policy.tsx
  src/templates/blog-post.tsx
Due: eslint --fix, prettier --write

Fix splash animation
  src/pages/index.tsx
  src/scss/pages/index.module.scss
Due: eslint --fix, stylelint --fix, prettier --write

Fix blog theming
  src/scss/pages/blog/markdown.module.scss
Due: stylelint --fix, prettier --write

fix: Fix theme corruption (#478)
  gatsby-config.ts
  package.json
  pnpm-lock.yaml
  src/components/header.tsx
  src/components/link.tsx
  src/components/navigation.tsx
  src/components/providers.tsx
  src/components/questions.tsx
  src/components/sns-link.tsx
  src/lib/theme.ts
  src/pages/blog.tsx
  src/pages/index.tsx
  src/pages/link.tsx
  src/pages/member.tsx
  src/pages/policy.tsx
  src/scss/pages/blog/markdown.module.scss
  src/scss/pages/index.module.scss
  src/templates/blog-post.tsx
  src/utils/color-mode.tsx
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

Migrate eslint
  .eslintrc.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Format
  gatsby-config.ts
  gatsby-node.ts
  src/components/date.test.tsx
  src/components/date.tsx
  src/components/footer.test.tsx
  src/components/footer.tsx
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/layout.tsx
  src/components/link.tsx
  src/components/navigation.test.tsx
  src/components/navigation.tsx
  src/components/prev-next-link.test.tsx
  src/components/prev-next-link.tsx
  src/components/providers.tsx
  src/components/questions.test.tsx
  src/components/questions.tsx
  src/components/sns-link.test.tsx
  src/components/sns-link.tsx
  src/components/title.test.tsx
  src/components/title.tsx
  src/lib/blog-fetch.ts
  src/lib/blog/file.ts
  src/lib/theme.ts
  src/pages/404.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/pages/link.tsx
  src/pages/member.tsx
  src/pages/policy.tsx
  src/templates/blog-post.tsx
  src/utils/color-mode.tsx
  src/utils/react-test.tsx
Due: eslint --fix, prettier --write

Migrate test env
  package.json
  pnpm-lock.yaml
  src/utils/react-test.tsx
  vite.config.ts
  vitest-cleanup.ts
Due: eslint --fix, prettier --write

Update tests
  src/components/date.test.tsx
  src/components/footer.test.tsx
  src/components/header.test.tsx
  src/components/navigation.test.tsx
  src/components/prev-next-link.test.tsx
  src/components/questions.test.tsx
  src/components/sns-link.test.tsx
  src/components/title.test.tsx
Due: eslint --fix, prettier --write

Fix avatar setting
  src/components/header.tsx
  src/pages/blog.tsx
  src/pages/member.tsx
Due: eslint --fix, prettier --write

Migrate attributes
  src/pages/404.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/pages/member.tsx
  src/pages/policy.tsx
Due: eslint --fix, prettier --write

Fix components
  src/components/header.tsx
  src/components/link.tsx
Due: eslint --fix, prettier --write

fix: Migrate broken attributes (#481)
  src/components/header.tsx
  src/components/link.tsx
  src/pages/404.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/pages/member.tsx
  src/pages/policy.tsx
Due: eslint --fix, prettier --write

chore: Bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: Bump dependencies (#482)
  package.json
  pnpm-lock.yaml
Due: none

Configure vitest browser mode
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

Update test
  package.json
  pnpm-lock.yaml
  src/components/__snapshots__/date.test.tsx.snap
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/navigation.test.tsx.snap
  src/components/__snapshots__/prev-next-link.test.tsx.snap
  src/components/__snapshots__/questions.test.tsx.snap
  src/components/__snapshots__/sns-link.test.tsx.snap
  src/components/__snapshots__/title.test.tsx.snap
  src/components/date.test.tsx
  src/components/date.tsx
  src/components/footer.test.tsx
  src/components/footer.tsx
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/navigation.test.tsx
  src/components/navigation.tsx
  src/components/prev-next-link.test.tsx
  src/components/prev-next-link.tsx
  src/components/questions.test.tsx
  src/components/questions.tsx
  src/components/sns-link.test.tsx
  src/components/sns-link.tsx
  src/components/title.test.tsx
  src/components/title.tsx
  src/utils/react-test.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

test: Migrate vitest (#488)
  package.json
  pnpm-lock.yaml
  src/components/__snapshots__/date.test.tsx.snap
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/navigation.test.tsx.snap
  src/components/__snapshots__/prev-next-link.test.tsx.snap
  src/components/__snapshots__/questions.test.tsx.snap
  src/components/__snapshots__/sns-link.test.tsx.snap
  src/components/__snapshots__/title.test.tsx.snap
  src/components/date.test.tsx
  src/components/date.tsx
  src/components/footer.test.tsx
  src/components/footer.tsx
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/navigation.test.tsx
  src/components/navigation.tsx
  src/components/prev-next-link.test.tsx
  src/components/prev-next-link.tsx
  src/components/questions.test.tsx
  src/components/questions.tsx
  src/components/sns-link.test.tsx
  src/components/sns-link.tsx
  src/components/title.test.tsx
  src/components/title.tsx
  src/utils/react-test.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Remove unused import
  src/templates/blog-post.tsx
Due: eslint --fix, prettier --write

fix: Remove unused import (#489)
  src/templates/blog-post.tsx
Due: eslint --fix, prettier --write

Fix broken attributes
  src/components/layout.astro
  src/pages/index.astro
Due: none

Migrate link page
  data/links.yaml
  package.json
  pnpm-lock.yaml
  src/components/layout.astro
  src/content.config.ts
  src/pages/link.astro
  src/pages/link.tsx
Due: eslint --fix, prettier --write

Migrate policy page
  src/components/footer.tsx
  src/pages/policy.astro
  src/pages/policy.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: ./**/*.{js,ts,jsx,tsx}
  stylelint --fix: any of: ./**/*.{css,scss}
  prettier --write: any of: ./**/*.{js,ts,jsx,tsx,css,scss}
