Repository approvers/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Update lockfile
  bun.lockb
Due: none

ci: Use frozen-lockfile option (#393)
  .github/workflows/ci.yml
  bun.lockb
Due: none

ci: Enable bun manager
  renovate.json
Due: none

fix: Fetch article data from site-data
  src/app/lib/blog-fetch.ts
  src/app/lib/blog/file.ts
  src/app/lib/blog/github.ts
Due: eslint --fix, prettier --write

chore: Bump bun version
  package.json
Due: none

chore: Remove needless npm manager
  renovate.json
Due: none

ci: Remove dependabot updater
  .github/dependabot.yml
Due: none

Setup gatsby
  .gitignore
  bun.lockb
  gatsby-config.ts
  next-env.d.ts
  next.config.js
  package.json
  src/gatsby-types.d.ts
Due: eslint --fix, prettier --write

Move public
  .gitignore
  public/favicon-32x32.png
  public/icons/icon-144x144.png
  public/icons/icon-192x192.png
  public/icons/icon-256x256.png
  public/icons/icon-384x384.png
  public/icons/icon-48x48.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/manifest.webmanifest
  public/page-data/404.html/page-data.json
  public/page-data/404/page-data.json
  public/page-data/blog/page-data.json
  public/page-data/dev-404-page/page-data.json
  public/page-data/index/page-data.json
  public/page-data/link/page-data.json
  public/page-data/member/page-data.json
  public/page-data/policy/page-data.json
Due: none

Move components
  src/components/__snapshots__/date.test.tsx.snap
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/navigation.test.tsx.snap
  src/components/__snapshots__/prev-next-link.test.tsx.snap
  src/components/__snapshots__/questions.test.tsx.snap
  src/components/__snapshots__/sns-link.test.tsx.snap
  src/components/__snapshots__/title.test.tsx.snap
  src/components/date.test.tsx
  src/components/date.tsx
  src/components/footer.test.tsx
  src/components/footer.tsx
  src/components/google-analytics.tsx
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/layout.tsx
  src/components/navigation.test.tsx
  src/components/navigation.tsx
  src/components/prev-next-link.test.tsx
  src/components/prev-next-link.tsx
  src/components/providers.tsx
  src/components/questions.test.tsx
  src/components/questions.tsx
  src/components/sns-link.test.tsx
  src/components/sns-link.tsx
  src/components/title.test.tsx
  src/components/title.tsx
Due: eslint --fix, prettier --write

Move lib
  src/app/lib/blog-fetch.ts
  src/app/lib/link-fetch.ts
  src/lib/member-fetch.ts
  src/lib/theme.ts
  src/lib/year-context.ts
Due: eslint --fix, prettier --write

Move scss
  src/scss/global.scss
  src/scss/pages/blog/markdown.module.scss
  src/scss/pages/index.module.scss
Due: stylelint --fix, prettier --write

Add module types for direct import
  src/@types/gatsby-import.d.ts
Due: eslint --fix, prettier --write

Remove unused
  src/app/fonts.ts
  src/app/layout.tsx
  src/app/providers.tsx
Due: eslint --fix, prettier --write

Migrate 404
  src/app/not-found.tsx
  src/pages/404.tsx
Due: eslint --fix, prettier --write

Migrate link
  src/app/link/link.tsx
  src/app/link/page.tsx
  src/pages/link.tsx
Due: eslint --fix, prettier --write

Migrate index
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Migrate policy
  src/app/policy/page.tsx
  src/pages/policy.tsx
Due: eslint --fix, prettier --write

Migrate member
  src/app/member/page.tsx
  src/pages/member.tsx
Due: eslint --fix, prettier --write

Migrate blog index
  src/app/blog/blog.tsx
  src/app/blog/page.tsx
  src/pages/blog.tsx
Due: eslint --fix, prettier --write

Remove console
  src/pages/member.tsx
Due: eslint --fix, prettier --write

Fix to use slug in link
  public/page-data/blog/page-data.json
  src/gatsby-types.d.ts
  src/pages/blog.tsx
Due: eslint --fix, prettier --write

Ignore page-data
  .gitignore
  public/page-data/404.html/page-data.json
  public/page-data/404/page-data.json
  public/page-data/blog/page-data.json
  public/page-data/dev-404-page/page-data.json
  public/page-data/index/page-data.json
  public/page-data/link/page-data.json
  public/page-data/member/page-data.json
  public/page-data/policy/page-data.json
Due: none

Add nodes generator
  gatsby-node.ts
Due: eslint --fix, prettier --write

Migrate blog pages
  src/app/blog/[id]/page.tsx
  src/app/blog/[id]/post.tsx
  src/components/prev-next-link.tsx
  src/templates/blog-post.tsx
Due: eslint --fix, prettier --write

Bump setup-bun
  .github/workflows/ci.yml
Due: none

Remove things related to next.js
  .eslintrc.js
  src/components/google-analytics.tsx
  src/components/layout.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Remove unused import
  src/components/layout.tsx
Due: eslint --fix, prettier --write

Add blog fetcher
  src/lib/blog-fetch.ts
  src/lib/blog/file.ts
  src/lib/blog/github.ts
Due: eslint --fix, prettier --write

Add nodes generator
  gatsby-node.ts
  src/gatsby-types.d.ts
Due: eslint --fix, prettier --write

Update query in blog index
  src/pages/blog.tsx
Due: eslint --fix, prettier --write

ci: Remove dependabot updater (#438)
  .github/dependabot.yml
Due: none

fix: Fetch article data from site-data (#395)
  gatsby-node.ts
  src/gatsby-types.d.ts
  src/lib/blog-fetch.ts
  src/lib/blog/file.ts
  src/lib/blog/github.ts
  src/pages/blog.tsx
Due: eslint --fix, prettier --write

Migrate eslint config
  .eslintrc.js
  bun.lockb
  eslint.config.mjs
  package.json
Due: eslint --fix, prettier --write

Fix lint errors
  src/components/date.test.tsx
  src/components/footer.test.tsx
  src/components/header.test.tsx
  src/components/navigation.test.tsx
  src/components/prev-next-link.test.tsx
  src/components/questions.test.tsx
  src/components/sns-link.test.tsx
  src/components/title.test.tsx
Due: eslint --fix, prettier --write

chore: Replace Next.js with Gatsby.js in README
  README.md
Due: none

Fix to ignore gatsby build dir
  .gitignore
  assets/alternative.png
  assets/android-chrome-192x192.png
  assets/android-chrome-512x512.png
  assets/apple-touch-icon.png
  assets/browserconfig.xml
  assets/favicon-16x16.png
  assets/favicon-32x32.png
  assets/favicon.ico
  assets/mstile-150x150.png
  assets/safari-pinned-tab.svg
  assets/site.webmanifest
  gatsby-config.ts
  public/icons/icon-144x144.png
  public/icons/icon-192x192.png
  public/icons/icon-256x256.png
  public/icons/icon-384x384.png
  public/icons/icon-48x48.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/manifest.webmanifest
Due: eslint --fix, prettier --write

Revert "chore(deps): update dependency eslint to v9 (#415)"
  .eslintrc.js
  bun.lockb
  eslint.config.mjs
  package.json
  src/components/date.test.tsx
  src/components/footer.test.tsx
  src/components/header.test.tsx
  src/components/navigation.test.tsx
  src/components/prev-next-link.test.tsx
  src/components/questions.test.tsx
  src/components/sns-link.test.tsx
  src/components/title.test.tsx
Due: eslint --fix, prettier --write

chore(deps): Remove eslint-config-next
  bun.lockb
  package.json
Due: none

Path conditions:
  eslint --fix: any of: ./**/*.{js,ts,jsx,tsx}
  stylelint --fix: any of: ./**/*.{css,scss}
  prettier --write: any of: ./**/*.{js,ts,jsx,tsx,css,scss}
